
@{
    ViewBag.Title = "recorridos2";
}

<h2>Seleccione tipo de recorrido:</h2>

<input type="button"
       value="Preorden"
       onclick="location.href= '@Url.Action("preorden", "Medicamento" )'" %>
