@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tu salud en mis manos</h1>
</div>

<p>
    Escriba la ruta del archivo csv: @Html.TextBox("Path")
    <input type="submit" value="Siguiente" />
</p>