
@{
    ViewData["Title"] = "Salida_Regreso";
}

    <h2>Simulacion de salidas y regresos</h2>

    <input type="button"
           value="Salida"
           onclick="location.href= '@Url.Action(" Salida", "Empleado" )'" %> />


